<!--
  Standalone launcher used for visualising robot model along with navigation data (costmap, laser, etc).
 -->

<launch>
  <include file="$(find std_turtlebot)/launch/tools/robot_model_bringup.launch">
    <arg name="3d_sensor" value="kinect" />
  </include>
  
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />
</launch>
