<!-- 
  Launchfile without AMCL using an empty map.
  This file is a modified version of "amcl_demo" from "turtlebot_navigation" package. 
  Differences between this file and the original one: 
    - It doesn't run AMCL.
    - It sends the 3d_sensor as argument to the 3dsensor launchfile.
-->
<launch>
  <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- Start navstack and publish map --> 
  <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
  <include file="$(find std_turtlebot)/launch/tools/map.launch">
    <arg name="map_file" value="$(arg map_file)"/>  
  </include>

  <include file="$(find std_turtlebot)/launch/tools/navstack.launch">
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>  <!-- r200, kinect, asus_xtion_pro -->
  </include>

</launch>
