<!-- 
  Turtlebot navigation visualization
 -->
<launch>
  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->

  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_file"       default=" $(env TURTLEBOT_EMPTY_MAP_FILE)"/>
  <arg name="initial_pose_x" default="5.0"/>
  <arg name="initial_pose_y" default="5.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <param name="/use_sim_time" value="false"/>   <!-- False if we are not using simulation-->

  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>
</launch>
